* {
    margin: 0px;
    padding: 0px;
}

div.box {
    margin: 30px auto;
    background-color: #484463;
    width: 600px;
    height: 300px;
    text-align: center;
    color: #f9f9fb;
    position: relative;
}

h1 {
    position: absolute;
    line-height: 60px;
    top: 50%;
    transform: translateY(-50%);
}

body{
	font-family: 'Sansita Swashed', cursive;
}
